<!DOCTYPE html>
<html>
<head>
    <title>Tourist Spot Recommender</title>
</head>
<body>
    <h1>Tourist Spot Recommender</h1>
    <form method="POST" action="/">
        <label for="type">Category:</label>
        <input type="text" id="type" name="type"><br><br>
        <label for="city">Region:</label>
        <input type="text" id="city" name="city"><br><br>
        <label for="number">Number of Locations:</label>
        <input type="text" id="number" name="number"><br><br>
        <input type="submit" value="Recommend">
    </form>
</body>
</html>
